In [28]:
# explorar dados

import pandas as pd
from config import Config
import re

In [19]:
# acessar dados

get_name = lambda x: f"olist_{x}_dataset.csv"

dataset = Config.get_path_dir_dataset()

# dataset dos clientes
dataset_customers = dataset[get_name("customers")]
print(dataset_customers)

# dataset de geolocalização
dataset_geo = dataset[get_name("geolocation")]
print(dataset_geo)

# dataset dos items dos pedidos
dataset_order_items = dataset[get_name("order_items")]
print(dataset_order_items)

# dataset pedidos
dataset_orders = dataset[get_name("orders")]
print(dataset_orders)

# dataset produtos
dataset_products = dataset[get_name("products")]
print(dataset_products)

# dataset vendedores
dataset_sellers = dataset[get_name("sellers")]
print(dataset_sellers)

/home/henrique/Documents/projects/facudade/ciencia-dos-dados/ciencia_de_dados_av1/av2/datasets/datasets-originais/olist_customers_dataset.csv
/home/henrique/Documents/projects/facudade/ciencia-dos-dados/ciencia_de_dados_av1/av2/datasets/datasets-originais/olist_geolocation_dataset.csv
/home/henrique/Documents/projects/facudade/ciencia-dos-dados/ciencia_de_dados_av1/av2/datasets/datasets-originais/olist_order_items_dataset.csv
/home/henrique/Documents/projects/facudade/ciencia-dos-dados/ciencia_de_dados_av1/av2/datasets/datasets-originais/olist_orders_dataset.csv
/home/henrique/Documents/projects/facudade/ciencia-dos-dados/ciencia_de_dados_av1/av2/datasets/datasets-originais/olist_products_dataset.csv
/home/henrique/Documents/projects/facudade/ciencia-dos-dados/ciencia_de_dados_av1/av2/datasets/datasets-originais/olist_sellers_dataset.csv

## Analisar cada uma das tabelas

### Orders

In [4]:
# primeiramente, a tabela principal, os pedidos

df_orders = pd.read_csv(dataset_orders)

In [5]:
df_orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [ ]:
# order_id: id único da compra
# customer_id: id único do cliente que fez a compra
# order_status: Se foi entregue ou não
# order_purchase_timestamp: data e horário da compra
# order_aproved_at: data de aprovação do pagamento
# order_delivered_carrier_date: data de entrega do produto para parceiro de logistica
# order_delivered_customer_date: data de entrega efetiva para o cliente
# order_estimated_delivery_date: data de entrega estimada

In [ ]:
# escolher quais colunas vamos utilizar

# order_id
# cutomer_id
# order_status

### Cutomers

In [6]:
df_customers = pd.read_csv(dataset_customers)

In [7]:
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
# customer_id: chave para a tabela de pedidos
# customer_unique_id: identificação única do cliente
# customer_zip_code_prefix: cinco primeiros dígitos do CEP
# customer_city: cidade do cliente
# customer_state: estado do cliente

### Items Order

In [8]:
df_order_items = pd.read_csv(dataset_order_items)

In [9]:
df_order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [ ]:
# order_id: id do padido, se conecta a tabela de pedidos
# order_item_id: sequential number identifying number of items included in the same order
# product_id: id único do produto
# seller_id: id do vendedor, para se conectar a tabela do vendedor
# shipping_limit_date: Shows the seller shipping limit date for handling the order over to the logistic partner.
# price: preço do produto
# item freight value item (if an order has more than one item the freight value is splitted between items)

### Olist products

In [11]:
df_products = pd.read_csv(dataset_products)

In [12]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [13]:
# product_id: identificaor únicod do produto
# product_category_name: nome da categoria do produto
# product_name_lenght: número de carateres estraído do nome do produto
# product_description_lenght: número de caracteres estraído da descrição do produto
# product_photos_qty: qunatidade de fotos do produto
# product_weight_g: peso do produto
# product_length_cm: comprimento
# product_height_cm: altura
# product_width_cm: largura

### Sellers

In [14]:
df_sellers = pd.read_csv(dataset_sellers)

In [15]:
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [ ]:
# sellers_id: id único do vendedor
# seller_zip_code_prefix: primeiros 5 dígitos do CEP do vendedor
# seller_city: cidade
# seller_state: estado

### Geolocation Dataset

In [16]:
df_geological = pd.read_csv(dataset_geo)

In [17]:
df_geological.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [18]:
# geolocation_zip_code_prefix: 5 primeiros dígitos do CEP
# geolocation_lat: latitude
# geolocation_lng: longitude
# geolocation_city: cidade
# geolocation_satate: estado

# Analise

## Qunatidade de valores núlos por coluna

In [39]:
def list_na_by_column(df:pd.DataFrame):
    list_coll = df.columns
    for coll in list_coll:
        qnt = len(df[coll])
        nulls = df[coll].isna().sum()
        print("-"*20)
        print(f"Nome da coluna: {coll}")
        print(f"Número de núlos: {nulls}")
        print(f"Porcentagem de nulos: {nulls/qnt*100:.3f}%")
    print("-"*20)

### Order

In [42]:
list_na_by_column(df_orders)

--------------------
Nome da coluna: order_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: customer_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: order_status
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: order_purchase_timestamp
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: order_approved_at
Número de núlos: 160
Porcentagem de nulos: 0.161%
--------------------
Nome da coluna: order_delivered_carrier_date
Número de núlos: 1783
Porcentagem de nulos: 1.793%
--------------------
Nome da coluna: order_delivered_customer_date
Número de núlos: 2965
Porcentagem de nulos: 2.982%
--------------------
Nome da coluna: order_estimated_delivery_date
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------

### Customer

In [44]:
list_na_by_column(df_customers)

--------------------
Nome da coluna: customer_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: customer_unique_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: customer_zip_code_prefix
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: customer_city
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: customer_state
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------

### Geolocalização

In [45]:
list_na_by_column(df_geological)

--------------------
Nome da coluna: geolocation_zip_code_prefix
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: geolocation_lat
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: geolocation_lng
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: geolocation_city
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: geolocation_state
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------

### Order items

In [46]:
list_na_by_column(df_order_items)

--------------------
Nome da coluna: order_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: order_item_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: product_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: seller_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: shipping_limit_date
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: price
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: freight_value
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------

### Product

In [47]:
list_na_by_column(df_products)

--------------------
Nome da coluna: product_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: product_category_name
Número de núlos: 610
Porcentagem de nulos: 1.851%
--------------------
Nome da coluna: product_name_lenght
Número de núlos: 610
Porcentagem de nulos: 1.851%
--------------------
Nome da coluna: product_description_lenght
Número de núlos: 610
Porcentagem de nulos: 1.851%
--------------------
Nome da coluna: product_photos_qty
Número de núlos: 610
Porcentagem de nulos: 1.851%
--------------------
Nome da coluna: product_weight_g
Número de núlos: 2
Porcentagem de nulos: 0.006%
--------------------
Nome da coluna: product_length_cm
Número de núlos: 2
Porcentagem de nulos: 0.006%
--------------------
Nome da coluna: product_height_cm
Número de núlos: 2
Porcentagem de nulos: 0.006%
--------------------
Nome da coluna: product_width_cm
Número de núlos: 2
Porcentagem de nulos: 0.006%
--------------------

### Sellers

In [48]:
list_na_by_column(df_sellers)

--------------------
Nome da coluna: seller_id
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: seller_zip_code_prefix
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: seller_city
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------
Nome da coluna: seller_state
Número de núlos: 0
Porcentagem de nulos: 0.000%
--------------------

Conclusão: vai ser preciso considerar remover alguns registros inclompletos em cada uma das tabelas

## Tempo de entrega

In [33]:
def delivery_time(dataframe: pd.DataFrame, purchase_col: str, delivered_col: str) -> pd.Series:
    purchase_dates = pd.to_datetime(dataframe[purchase_col])
    delivery_dates = pd.to_datetime(dataframe[delivered_col])

    delta = (delivery_dates - purchase_dates) / pd.Timedelta(days=1)
    return delta

In [ ]:
# no dataframe
df_total = df_orders.copy()
df_total["delivery_time"]